<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/normalize.css" type="text/css">
    <link rel="stylesheet" href="../styles/customize.css" type="text/css">
    <%- include ("./includes/resources.ejs") %> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    <%- include ('./includes/navbar.ejs') %>
    <div id="loading-state" class="text-center mt-4">
        <div class="spinner-grow spinner-xl" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p class="text-secondary">
            Loading...
        </p>
    </div>
    <div id="main" class="d-none">
    <div class="m-3">
        <h5>
            Manage Account
        </h5>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#account" class="nav-link">
                Account
            </a>
        </li>
        <li class="nav-item">
            <a href="#applications" class="nav-link">
                Applications
            </a>
        </li>
    </ul>
    <div class="tab-content mt-4 mb-5">
        <div id="account" class="tab-pane active">
            <ul class="list-group">
                <li class="border-0 list-group-item shadow-sm">
                    <div class="row g-6">
                        <div class="col-sm-6 mb-4">
                            <h5>
                                Profile
                            </h5>
                            <small class="text-muted">
                                Your email address is your identify on this website and used to log in.
                            </small>
                        </div>
                        <div class="col-sm-6">
                            <h5>
                                <img src="<%= user.avatarUrl %>" alt="Avatar" class="rounded-circle" width="32" height="32">
                                <%= user.username %>
                            </h5>
                            <form autocomplete="on" class="needs-validation mb-2" novalidate="novalidate">
                                <div class="mb-2">
                                    <label for="email" class="semi-bold mb-2">
                                        Email address
                                    </label>
                                    <input type="email" class="form-control" value="<%= user.visibleEmail %>" required aria-required="true">
                                    <small class="text-muted">
                                        Will not be publicly displayed.
                                    </small>
                                </div>
                                <div class="mb-0">
                                    <label for="username" class="semi-bold mb-2">
                                        Username
                                    </label>
                                    <input type="text" class="form-control" value="<%= user.username %>" required aria-required="true">
                                </div>
                                <small class="text-muted">
                                    <em>
                                        Joined <%= user.createdAt.toLocaleString().concat('.') %>
                                    </em>
                                </small>
                                <br>
                                <small class="text-muted">
                                    Manage your avatar using
                                    <a href="https://en.gravatar.com/" target="_self">Gravatar</a>.
                                </small>
                                <div class="d-block mt-4">
                                    <button type="submit" disabled class="btn btn-primary">
                                        Update Profile
                                    </button>
                                    <button type="reset" disabled class="btn btn-light ms-4 border">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <div role="separator" class="my-4" aria-hidden="true"></div>
                <li class="border-0 list-group-item shadow-sm">
                    <div class="row g-6">
                        <div class="col-sm-6 mb-4">
                            <h5>
                                Password
                            </h5>
                            <small class="text-muted">
                                Changing your password will log you out every time.
                            </small>
                        </div>
                        <div class="col-sm-6">
                            <form id="new-password-form" class="needs-validation mb-2" autocomplete="on" novalidate="novalidate">
                                <div class="mb-4">
                                    <label for="current-password" class="semi-bold mb-2">
                                        Current Password
                                    </label>
                                    <input id="current-password" autocomplete="current-password" type="password" class="form-control" placeholder="Your current password..." required aria-required="true">
                                    <input type="hidden">
                                </div>
                                <hr class="my-4">
                                <div class="mb-4">
                                    <label for="new-password" class="semi-bold mb-2">
                                        New Password
                                    </label>
                                    <input aria-describedby="password-hint" autocomplete="new-password" type="password" id="new-password" class="form-control" placeholder="Your new password..." required aria-required="true">
                                    <small id="password-hint" class="text-muted">
                                        Password must be at least 8 characters.
                                    </small>
                                </div>
                                <div class="mb-4">
                                    <label for="repeat" class="semi-bold mb-2">
                                        Confirm New Password
                                    </label>
                                    <input type="password" id="repeat-new-password" autocomplete="new-password" class="form-control" placeholder="Repeat your new password..." required aria-required="true">
                                </div>
                                <div class="d-block">
                                    <button type="submit" class="btn btn-primary" disabled aria-disabled="true">
                                        Update Password
                                    </button>
                                    <button type="reset" class="btn btn-light border ms-2" disabled="disabled" aria-disabled="true">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <div role="separator" class="my-4" aria-hidden="true"></div>
                <li class="border-0 list-group-item shadow-sm">
                    <div class="row g-6">
                        <div class="col-sm-6 mb-4 border-end">
                            <h5>
                                Account Security
                            </h5>
                        </div>
                    </div>
                </li>
                <div role="separator" class="my-4" aria-hidden="true"></div>
                <li class="border-0 list-group-item shadow-sm">
                    <div class="row g-6">
                        <div class="col-sm-6 mb-4 border-end">
                            <h5 class="text-danger">
                                Account Removal
                            </h5>
                            <small class="text-danger">
                                You must delete all of apps on this account first.
                                <br>
                                <strong class="semi-bold">Warning:</strong> Closing your account is irreversible.
                            </small>
                        </div>
                        <div class="col-sm-6 text-center">
                            <form id="remove-account-form" class="d-inline">
                                <button type="submit" class="btn btn-outline-danger">
                                    Close Account
                                </button>
                            </form>
                            <span aria-hidden="true" class="text-secondary mx-4">&bull;</span>
                            <form action="/logout?_method=DELETE" class="d-inline" method="POST">
                                <button type="submit" class="btn btn-outline-danger">
                                    Sign out
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <script type="text/javascript">
    (function() {
        $(document).ready(function() {
            const loadingSym = $('#loading-state'),
            content = $('#main'),
            loading = setInterval(function() {
                if (document.readyState === "complete") {
                    setTimeout(function() {
                        loadingSym.remove();
                        content.removeClass('d-none');
                    }, Math.random() * 2E3);
                    clearInterval(loading);
                    return;
                }
            }, 100);
        });
    })();
    </script>
</body>
</html>
