<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/styles/normalize.css" type="text/css" />
    <link rel="stylesheet" href="../public/styles/style.css" type="text/css" />
    <%- include ("./includes/resources.ejs") %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>Node Authentication Starter</title>
</head>
<body class="fixed-nav">
    <%- include ('./includes/navbar.ejs') %>
    <div id="main-content" class="container mb-5">
        <h4>
            <img src="<%= user.avatarUrl %>" alt="avatar" class="rounded-circle" width="64" height="64">
            Welcome, <%= user.username %>
        </h4>
        <p class="lead">Some content here</p>
        <hr />
        <div>
            <p>
                <span class="huge-char">
                    L
                </span>orem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet sem non justo porta, et dignissim magna faucibus. Vestibulum porta sapien vitae lorem facilisis rutrum. Vivamus dictum nisl quis leo pellentesque, vitae cursus dolor maximus. Curabitur pulvinar egestas mi, sit amet viverra lectus sagittis eu. Morbi vestibulum tempor enim, nec dignissim quam feugiat ut. Etiam ac purus sed lorem vulputate posuere. Vestibulum lacus urna, pharetra vel ultricies ac, fermentum id eros. Aliquam ullamcorper arcu quis lorem accumsan consequat.
            </p>
            <p>
                <span class="huge-char">
                    P
                </span>hasellus ac velit euismod, condimentum erat id, mollis urna. Suspendisse molestie libero tincidunt ex molestie iaculis. Mauris fringilla ipsum eget blandit posuere. Ut nec tellus sed sapien maximus consequat non sed nibh. Aenean tempus convallis tellus eu laoreet. Fusce quis pretium lorem. Donec imperdiet dui ut augue faucibus maximus. Nulla et venenatis enim. Integer in quam lectus. Vestibulum a imperdiet ipsum, in fringilla est. Vivamus porta viverra finibus. Donec ut ultrices est, id posuere magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent suscipit, nunc sit amet interdum hendrerit, enim orci pretium mi, vitae scelerisque eros ex a lorem. Nullam fermentum dictum nibh, ut fermentum mi rutrum ac.
            </p>
            <p>
                <span class="huge-char">
                    U
                </span>t erat purus, tempor ac eros non, posuere blandit tortor. Pellentesque sit amet erat ut elit faucibus pulvinar nec et ex. Nullam ullamcorper tempus ipsum ut vestibulum. Quisque sagittis, felis sit amet ultrices faucibus, tortor ex malesuada est, quis sodales justo nunc nec tellus. Ut volutpat egestas ligula, vitae ornare augue faucibus eget. Maecenas vitae quam ac libero interdum sodales. Aenean sagittis congue erat at malesuada. Suspendisse potenti. Praesent eleifend imperdiet nisi ut accumsan.
            </p>
            <p>
                <span class="huge-char">
                    V
                </span>estibulum at mollis nisi. Sed diam ante, ultricies sed est et, finibus scelerisque odio. Proin vitae magna et nibh gravida bibendum. Curabitur lacinia in ex eu ultrices. Pellentesque sit amet mattis velit. Integer tempor, nibh sit amet bibendum laoreet, sapien augue mollis sapien, a rhoncus ligula mi quis velit. Vestibulum cursus sodales leo, non sodales augue consectetur elementum. Duis egestas, dolor in auctor euismod, enim nibh lobortis purus, eu finibus est dolor eu velit. Nunc dapibus vitae diam ut vulputate. Vivamus sit amet quam sapien. Proin dolor nulla, ultrices quis laoreet nec, elementum sed ex. Aenean gravida arcu odio, quis varius neque tempus nec. Quisque eget velit ac velit pellentesque pretium in eget augue. Maecenas posuere sagittis dapibus. Suspendisse pulvinar eget turpis a cursus. Donec molestie elit vitae felis dictum bibendum.
            </p>
            <p>
                <span class="huge-char">
                    C
                </span>lass aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc velit purus, tincidunt at placerat at, auctor id nisi. In tincidunt sodales enim sed varius. In nec turpis a felis posuere suscipit at non arcu. Aliquam tristique congue egestas. Suspendisse metus lacus, ullamcorper sed neque sed, cursus dapibus urna. Donec mattis urna orci, ut porta sem aliquet nec. Nunc at congue nulla. Fusce malesuada cursus lectus non pretium. Aliquam ac dapibus lorem, a blandit arcu.
            </p>
        </div>
    </div>
    <%- include ("./includes/bottom-navbar.ejs") %>
</body>
</html>
