<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/styles/normalize.css" type="text/css" />
    <link rel="stylesheet" href="../public/styles/style.css" type="text/css" />
    <%- include ("./includes/resources.ejs") %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta name="title" content="Login" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="title" content="Login" />
    <meta name="description" content="Sample authentication in Node.js" />
    <meta name="og:title" content="Login" />
    <meta name="og:description" content="Sample authentication in Node.js" />
    <title>Login</title>
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="card shadow">
            <div class="card-header">
                <h4 class="card-title">
                    <span class="fas fa-key" aria-hidden="true"></span>
                    Login
                </h4>
            </div>
            <div class="card-body">
                <%
                    const isError = !!messages.error
                    const isExceeded = tooManyRequests && "disabled=disabled readonly=readonly aria-disabled=true aria-readonly=true"
                %>
                <form class="needs-validation <%= isError && "was-validated" || "" %>" action="/login<%= redirectUri ? "?redirectUri=" + encodeURIComponent(redirectUri) : "" %>" autocomplete="on" method="POST" novalidate="novalidate">
                    <% if (isExceeded) { %>
                        <div class="alert alert-danger">
                            <strong class="semi-bold">
                                <span class="fas fa-exclamation-circle" aria-hidden="true"></span>
                                Error!
                            </strong>
                            <p class="mb-0">
                                Too many requests, please try again later.
                            </p>
                        </div>
                    <% } else if (isError) { %>
                        <div class="alert alert-danger">
                            <strong class="semi-bold">
                                <span class="fas fa-exclamation-circle" aria-hidden="true"></span>
                                Error!
                            </strong>
                            <p class="mb-0">
                                <%= messages.error + "." %>
                            </p>
                        </div>    
                    <% } else if (sessionExpired === "true") { %>
                        <div class="alert alert-danger">
                            <strong class="semi-bold">
                                <span class="fas fa-exclamation-circle" aria-hidden="true"></span>
                                Your session has expired. Please log in.
                            </strong>
                            <p class="mb-0">
                                Your session has expired. Please log in.
                            </p>
                        </div>
                    <% } %>
                    <div class="form-floating mb-4">
                        <input type="text" autocomplete="username" id="credential" name="eou" class="form-control" placeholder="Username/Email address" required="required" aria-required="true" <%= isExceeded %> >
                        <label for="credential">
                            Username/Email address
                        </label>
                        <div class="invalid-feedback">
                            Username/Email address cannot be empty.
                        </div>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" autocomplete="current-password" id="password" name="password" title="Password" aria-label="Password" class="form-control" minlength="8" placeholder="Password" required="required" aria-required="true" <%= isExceeded %> >
                        <label for="password">
                            Password
                        </label>
                        <div class="invalid-feedback">
                            Password must be at least 8 characters.
                        </div>
                    </div>
                    <div class="form-check mb-4">
                        <input type="checkbox" name="rem-me" id="rem-me" class="form-check-input" <%= isExceeded %> >
                        <label for="rem-me" class="form-check-label">
                            Remember Me
                        </label>
                    </div>
                    <div class="d-grid gap-1">
                        <button type="submit" class="btn btn-primary btn-lg" disabled="disabled" aria-disabled="true">
                            Log in
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <a href="/register" target="_self">
                    Don't have an account
                </a>
                <span class="mx-2" aria-hidden="true">
                    &bull;
                </span>
                <a href="/reset-password" target="_self">
                    Lost Password
                </a>
                <div role="separator" class="mb-4" aria-hidden="true"></div>
            </div>
        </div>
    </div>
    <% if (!isExceeded) { %>
        <script type="text/javascript" src="../public/js/login.js" defer="defer"></script>
    <% } %>
    <%- include ("./includes/bottom-navbar.ejs") %>
</body>
</html>
