<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/styles/normalize.css" type="text/css" />
    <link rel="stylesheet" href="../public/styles/style.css" type="text/css" />
    <%- include ("./includes/resources.ejs") %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="title" content="Register" />
    <meta name="description" content="Sample authentication in Node.js" />
    <meta name="og:title" content="Register" />
    <meta name="og:description" content="Sample authentication in Node.js" />
    <title>Register</title>
</head>
<body>
    <%
        const TooManyRequests = typeof tooManyRequests !== "undefined" ? "disabled=disabled aria-disabled=true" : "" 
    %>
    <div class="container mt-5 mb-5">
        <div class="card shadow">
            <div class="card-header">
                <h4>
                    <span class="fas fa-sign-in-alt" aria-hidden="true"></span>
                    Register
                </h4>
            </div>
            <div class="card-body">
                <form id="register-form" autocomplete="on" class="needs-validation" novalidate="novalidate">
                    <% if (!TooManyRequests) { %>
                        <div id="register-alert" class="alert alert-danger d-none">
                            <strong class="semi-bold">
                                <span class="fas fa-exclamation-circle" aria-hidden="true"></s>
                                Error!
                            </strong>
                            <p>Failed to register.</p>
                        </div>
                    <% } else { %>
                        <div class="alert alert-danger">
                            <strong class="semi-bold">
                                <span class="fas fa-exclamation-circle" aria-hidden="true"></span>
                                Error!
                            </strong>
                            Too many requests, please try again later.
                        </div>
                    <% } %>
                    <div class="form-floating mb-4">
                        <input id="username" name="username" autocomplete="username" type="text" placeholder="Username" class="form-control" pattern="^(?=^[^_]+_?[^_]+$)\w{3,20}$" required="required" aria-required="true"
                        aria-describedby="username-hint" aria-errormessage="username-invalid-feedback" <%= TooManyRequests %> >
                        <label for="username">
                            Username
                        </label>
                        <small id="username-hint" class="text-muted">
                            Username only contains alphabetic characters (a-z, A-Z), numeric characters (0-9), include an underscore(_), and can be from 3 characters to 20 characters.
                        </small>
                        <div id="username-invalid-feedback" class="invalid-feedback" aria-hidden="true">
                            Username only contains alphabetic characters (a-z, A-Z), numeric characters (0-9), include an underscore(_), and can be from 3 characters to 20 characters.
                        </div>
                    </div>
                    <div class="form-floating mb-4">
                        <input id="email" name="email" autocomplete="email" type="text" placeholder="Email" class="form-control" pattern='^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,4}))$' required="required" aria-required="true"
                        aria-describedby="email-hint" aria-errormessage="email-invalid-feedback" <%= TooManyRequests %> >
                        <label for="email">
                            Email
                        </label>
                        <small id="email-hint" class="text-muted">
                            Email is your identify on this website and used for most cases (e.g: Retrieving a lost password).
                        </small>
                        <div id="email-invalid-feedback" class="invalid-feedback" aria-hidden="true">
                            Email does not match, please follow this pattern: <em>name@example.domain</em>
                        </div>
                    </div>
                    <div class="form-floating mb-4">
                        <input id="password" name="password" autocomplete="current-password" type="password" placeholder="Password" class="form-control" minlength="8" required="required" aria-required="true"
                        aria-describedby="password-hint" aria-errormessage="password-invalid-feedback" <%= TooManyRequests %> >
                        <label for="password">
                            Password
                        </label>
                        <small id="password-hint" class="text-muted">
                            Password must be at least 8 characters.
                        </small>
                        <div id="password-invalid-feedback" class="invalid-feedback" aria-hidden="true">
                            Password must be at least 8 characters.
                        </div>
                    </div>
                    <div class="form-floating mb-4">
                        <input id="confirm-password" name="confirm-password" autocomplete="current-password" type="password" placeholder="Confirm Password" class="form-control" minlength="8" required="required" aria-required="true"
                        aria-errormessage="confirm-password-invalid-feedback" <%= TooManyRequests %> >
                        <label for="confirm-password">
                            Confirm Password
                        </label>
                        <div id="confirm-password-invalid-feedback" class="invalid-feedback" aria-hidden="true">
                            Password does not match.
                        </div>
                    </div>
                    <button type="submit" disabled="disabled" aria-disabled="true" class="btn btn-primary">Register</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <a href="/login" target="_self">
                    Already have an account
                </a>
                <span class="mx-2" aria-hidden="true">
                    &bull;
                </span>
                <a href="/about" target="_self">
                    About
                </a>
                <div role="separator" class="mb-4" aria-hidden="true"></div>
            </div>
        </div>
    </div>
    <% if (!TooManyRequests) { %>
        <script type="text/javascript" src="../public/js/register.js" defer="defer"></script>
    <% } %>
    <%- include ("./includes/bottom-navbar.ejs") %>
</body>
</html>
